html{
    background-color: #ca4d4d;
    background: radial-gradient(rgba(184, 5, 238, 0.3),rgba(116, 246, 255, 0.2),rgba(0, 0, 0, 0.2));
    text-align: center;
    margin-top: 20%;
}
.common
{
    border-radius: 20px;
    background-color: black;
    padding: 50px;
    margin-top: 0%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10%;
    padding-right: 10%;
    width: 20%;

    /*padding: 10%;
    color: blueviolet;
    align-items: center;*/

}
.text1
{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(241, 220, 238);
}
table
{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: rgb(228, 203, 195);
}
